[submodule "cpptoml"]
	path = thirdparty/cpptoml
	url = https://github.com/skystrife/cpptoml
[submodule "thirdparty/toojpeg"]
	path = thirdparty/toojpeg
	url = https://github.com/stbrumme/toojpeg
[submodule "thirdparty/CLI11"]
	path = thirdparty/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "thirdparty/lodepng"]
	path = thirdparty/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "thirdparty/eigen"]
	path = thirdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
	shallow = true
[submodule "thirdparty/easyloggingpp"]
	path = thirdparty/easyloggingpp
	url = https://github.com/amrayn/easyloggingpp.git
